<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.entere.myapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recyclerview.RecyclerViewActivity"
            android:label="@string/title_activity_recycle_view_demo"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".multirecyclerview.MultiRecyclerViewActivity"
            android:label="@string/title_activity_multi_recycler_view"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".retrofitdemo.RetrofitActivity"
            android:label="@string/title_activity_retrofit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".swipe.SwipeActivity"
            android:label="@string/title_activity_swipe"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".webview.WebviewActivity"
            android:label="@string/title_activity_webview"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".iconfont.IconfontActivity"
            android:label="@string/title_activity_iconfont"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mygesturedetector.MyGestureDetectorActivity"
            android:label="@string/title_activity_my_gesture_detector"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mymatisse.MyMatisseActivity"
            android:label="@string/title_activity_my_matisse"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>